.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30vw;
    min-height: 25vh;
    max-width: 80vw;
    max-height: 90vh;
    width: max-content;
    height: max-content;
    padding: 30px;
    border-radius: 10px;
}
  
.modal-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
  
.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    cursor: pointer;
}